          <%= link_to 'Dodaj nową usługę', new_service_path, class: "btn btn-primary" %><BR><BR><BR>
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Lista ubezpieczycieli
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
      <th>Nazwa usługi</th>
      <th>Cena firmy</th>
      <th>Cena lekarza</th>
      <th>Date in</th>
      <th>Date out</th>
      <th></th>
    </tr>
                                    </thead>
                                    <tbody>
                                     <% @services.each do |service| %>
                                        <tr class="odd gradeX">
        <td><%= service.name_services %></td>
        <td><%= service.company_price %></td>
        <td><%= service.doctor_price %></td>
        <td><%= service.date_in %></td>
        <td><%= service.date_out %></td>
        <td><%= link_to 'Edytuj', edit_service_path(service), class:"btn btn-success" %> <%= link_to 'Usuń', service, method: :delete, data: { confirm: 'Czy masz pewność?' },class:"btn btn-danger" %></td>
       </tr>
                                       
                                        <% end %>
                                       
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
            </div>
    </div>

<br>

