<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa usługi:</strong>
  <%= @service.name_services %>
</p>

<p>
  <strong>Cena firmowa:</strong>
  <%= @service.company_price %>
</p>

<p>
  <strong>Cena lekarza:</strong>
  <%= @service.doctor_price %>
</p>

<p>
  <strong>Date in:</strong>
  <%= @service.date_in %>
</p>

<p>
  <strong>Date out:</strong>
  <%= @service.date_out %>
</p>

<%= link_to 'Edytuj', edit_service_path(@service) %> |
<%= link_to 'Wstecz', services_path %>
