<div class="panel panel-default">
<div class="panel-heading"> 
Wyedytowano dane</div>
<div class="panel-body"> 

<table class="table table-condensed">
<thead>
<tr>

 <th>Nazwa usługi</th>
      <th>Cena firmy</th>
      <th>Cena lekarza</th>
      <th>Date in</th>
      <th>Date out</th>
      <th></th>

</tr>
</thead>
<tbody>
  </tr>
<td>
  <%= @service.name_services %></td>
<td>
  <%= @service.company_price %></td>
<td>
  <%= @service.doctor_price %></td>
<td>
  <%= @service.date_in %></td>
<td>
  <%= @service.date_out %></td>

</tr> 
</tbody>
</table>
</div>
<div class="panel-footer">
<%= link_to 'Edytuj', edit_service_path(@service), class:"btn btn-success" %>
<%= link_to 'Wstecz', services_path, class:"btn btn-info" %>
</div></div>