<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group input-group">                                  
    <span class="input-group-addon">Nazwa stanowiska</span>

    <%= f.text_field :position, class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit 'Wykonaj', class: "btn btn-primary" %>
  </div>
<% end %>
