<ol class="breadcrumb">
<li><%= link_to "Strona Główna", :back, {:style =>'color:#428BCA'} %></li>
<li><a style="color:#428BCA" href="#">Lista stanowisk</a></li>
</ol> 

<%= link_to 'Dodaj nowe stanowisko', new_position_path, class: "btn btn-primary"  %>
<table  class="table table-striped">
  <thead>
    <tr>
      <th>Nazwa stanowiska</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.position %></td>

        <td><%= link_to 'Edytuj', edit_position_path(position), class:"btn btn-success"  %> <%= link_to 'Usuń', position, method: :delete, data: { confirm: 'Jesteś pewien?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

