<ol class="breadcrumb">
<li><%= link_to "Strona Główna", '/' %></li>
<li><%= link_to "lista stanowisk", '/positions' %></li>
<li><%= link_to "Dodaj nowe stanowisko", '' %></li>
</ol> 
<div class="panel panel-default">
<div class="panel-heading"> 
Edytuj stanowisko</div>
<div class="panel-body"> 
 <div class="col-lg-6">

<%= render 'form' %>
</div></div>
<div class="panel-footer">
<%= link_to 'Wróć', positions_path, class:"btn btn-info" %>
</div></div>
