<ol class="breadcrumb">
<li><%= link_to "Strona Główna", '/' %></li>
<li><%= link_to "Lista stanowisk", '/positions' %></li>
<li><%= link_to "Wyedytowane dane", '' %></li>
</ol> 
<div class="panel panel-default">
<div class="panel-heading"> 
Wyedytowano dane</div>
<div class="panel-body"> 

<table class="table table-condensed">
<thead>
<tr>
<th>Nazwa stanowiska</th>

</tr>
</thead>
<tbody>
<tr>
<td>
  <%= @position.position %>
</td>
</tr>
</tbody>
</table>
</div>
<div class="panel-footer">
<%= link_to 'Edytuj', edit_position_path(@position), class:"btn btn-success"  %> 
<%= link_to 'Wróć', positions_path, class:"btn btn-info" %>
</div></div>
