<%= form_for(@content_clinic) do |f| %>
  <% if @content_clinic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_clinic.errors.count, "error") %> Nie udało się zapisać kliniki:</h2>

      <ul>
      <% @content_clinic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div class="form-group input-group">                                  
    <span class="input-group-addon">Nazwa kliniki</span>
    <%= f.text_field :name_clinic, class: "form-control"  %>
  </div>

 <div class="form-group input-group">                                  
    <span class="input-group-addon">Adres kliniki</span>
    <%= f.text_field :adress_clinic, class: "form-control"  %>
  </div>

 <div class="form-group input-group">                                  
    <span class="input-group-addon">Kod ZIP kliniki</span>
    <%= f.text_field :zip_code_clinic, class: "form-control"  %>
  </div>

 <div class="form-group input-group">                                  
    <span class="input-group-addon">Miasto</span>
    <%= f.text_field :city_linic, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Edytuj', class: "btn btn-primary" %>
  </div>
<% end %>
