

<ol class="breadcrumb">
<li><%= link_to "Strona Główna", :back %></li>
<li><a href="#">Lista klinik</a></li>
</ol> 
<%= link_to 'Dodaj nową klinikę', new_content_clinic_path, class: "btn btn-primary"  %>
<table  class="table table-striped">
  <thead>
    <tr>
      <th>Nazwa kliniki</th>
      <th>Adres kliniki</th>
      <th>Zip kod kliniki</th>
      <th>Miejscowość</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @content_clinics.each do |content_clinic| %>
      <tr>
        <td><%= content_clinic.name_clinic %></td>
        <td><%= content_clinic.adress_clinic %></td>
        <td><%= content_clinic.zip_code_clinic %></td>
        <td><%= content_clinic.city_linic %></td>
        <td><%= link_to 'Edytuj', edit_content_clinic_path(content_clinic) %></td>
        <td><%= link_to 'Usuń', content_clinic, method: :delete, data: { confirm: 'Jesteś pewien' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


