<%= form_for(@insurer) do |f| %>
  <% if @insurer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insurer.errors.count, "error") %> Nie udało się zapisać ubezpieczyciela:</h2>

      <ul>
      <% @insurer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group input-group">                                  
    <span class="input-group-addon">Nazwa ubezpieczyciela</span>
    <%= f.text_field :name_insurer, class: "form-control" %>
  </div>
   <div class="form-group input-group">                                  
    <span class="input-group-addon">Adres placówki</span>
    <%= f.text_field :adress, class: "form-control" %>
  </div>
   <div class="form-group input-group">                                  
    <span class="input-group-addon">Kod ZIP ubezpieczyciela</span>
    <%= f.text_field :zip_code_insurer, class: "form-control" %>
  </div>
   <div class="form-group input-group">                                  
    <span class="input-group-addon">Miasto placówki</span>
    <%= f.text_field :city_insurer, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Wykonaj", class: "btn btn-primary" %>
  </div>
<% end %>
