<div class="panel panel-default">
<div class="panel-heading"> 
Wyedytowano dane</div>
<div class="panel-body"> 

<table class="table table-condensed">
<thead>
<tr>
<th>Nazwa firmy ubezpieczającej</th>
<th>Adres</th>
<th>Kod ZIP firmy</th>
<th>Miasto</th>
</tr>
</thead>
<tbody>

<td>

  <%= @insurer.name_insurer %>
</td>

<td>

  <%= @insurer.adress %>
</td>

<td>
 
  <%= @insurer.zip_code_insurer %>
</td>
<td>

  <%= @insurer.city_insurer %>
</td>

</tr> 
</tbody>
</table>
</div>
<div class="panel-footer">
<%= link_to 'Edytuj', edit_insurer_path(@insurer), class:"btn btn-success", :style =>'color:white;' %> 
<%= link_to 'Wróć', insurers_path, class:"btn btn-info", :style =>'color:white;' %>
</div></div>
