<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pesel %><br>
    <%= f.number_field :pesel %>
  </div>
  <div class="field">
    <%= f.label :name_patient %><br>
    <%= f.text_field :name_patient %>
  </div>
  <div class="field">
    <%= f.label :firstname_patient %><br>
    <%= f.text_field :firstname_patient %>
  </div>
  <div class="field">
    <%= f.label :adress %><br>
    <%= f.text_field :adress %>
  </div>
  <div class="field">
    <%= f.label :city_patient %><br>
    <%= f.text_field :city_patient %>
  </div>
  <div class="field">
    <%= f.label :zip_code_patient %><br>
    <%= f.text_field :zip_code_patient %>
  </div>
  <div class="field">
    <%= f.label :phone_patient %><br>
    <%= f.text_field :phone_patient %>
  </div>
  <div class="field">
    <%= f.label :patient_card_nr %><br>
    <%= f.number_field :patient_card_nr %>
  </div>
  <div class="field">
    <%= f.label :ICD10code %><br>
    <%= f.text_field :ICD10code %>
  </div>
  <div class="field">
  
    <%= f.select :insurers, :collections => insurers.pluck(:id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
