
<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Pesel %><br>
    <%= f.number_field :pesel %>
  </div>
  <div class="field">
    <%= f.label :Imię_pacjenta %><br>
    <%= f.text_field :name_patient %>
  </div>
  <div class="field">
    <%= f.label :Nazwisko_pacjenta %><br>
    <%= f.text_field :firstname_patient %>
  </div>
  <div class="field">
    <%= f.label :Adres %><br>
    <%= f.text_field :adress %>
  </div>
  <div class="field">
    <%= f.label :Miasto_pacjenta %><br>
    <%= f.text_field :city_patient %>
  </div>
  <div class="field">
    <%= f.label :Kod_pocztowy_pacjenta %><br>
    <%= f.text_field :zip_code_patient %>
  </div>
  <div class="field">
    <%= f.label :Telefon_pacjenta %><br>
    <%= f.text_field :phone_patient %>
  </div>
  <div class="field">
    <%= f.label :patient_card_nr %><br>
    <%= f.number_field :patient_card_nr %>
  </div>
  <div class="field">
    <%= f.label :Kod_ICD10 %><br>
    <%= f.text_field :ICD10code %>
  </div>
  <div class="field">
    <%= f.collection_select(:insurer_id, Insurer.all, :id, :name_insurer) %>
    <%#= f.select :insurer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
