<%= link_to 'Nowy pacjent', new_patient_path, class: "btn btn-primary", :style =>'color:white;'   %><BR><BR><BR>

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Lista pacjentów
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
  <thead>
                                        <tr class="odd gradeX">
      <th>Pesel</th>
      <th>Imię pacjenta</th>
      <th>Nazwisko pacjenta</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.pesel %></td>
        <td><%= patient.name_patient %></td>
        <td><%= patient.firstname_patient %></td>

        <td>
<%= link_to 'Edytuj', edit_patient_path(patient), 
class:"btn btn-success", :style =>'color:white;'  %>
<%= link_to 'Pokaż', patient, class:"btn btn-success", :style =>'color:white;'  %>
<%= link_to 'Usuń', patient, method: :delete, data: { confirm: 'Masz pewność?' }, class:"btn btn-danger", :style =>'color:white;'  %></td>
                                   </tr>
                                       
                                        <% end %>
                                       
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    </div>
                    </div>
<br>