<p id="notice"><%= notice %></p>

<h1>Lista pacjentów</h1>

<table>
  <thead>
    <tr>
      <th>Pesel</th>
      <th>Imię pacjenta</th>
      <th>Nazwisko pacjenta</th>
      <th>Adres</th>
      <th>Miasto pacjenta</th>
      <th>Kod pocztowy pacjenta</th>
      <th>Telefon pacjenta</th>
      <th>Patient card nr</th>
      <th>Kod ICD10</th>
      <th>Ubezpieczyciel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.pesel %></td>
        <td><%= patient.name_patient %></td>
        <td><%= patient.firstname_patient %></td>
        <td><%= patient.adress %></td>
        <td><%= patient.city_patient %></td>
        <td><%= patient.zip_code_patient %></td>
        <td><%= patient.phone_patient %></td>
        <td><%= patient.patient_card_nr %></td>
        <td><%= patient.ICD10code %></td>
        <td><%= patient.insurer_id %></td>
        <td><%= link_to 'Pokaż', patient %></td>
        <td><%= link_to 'Edytuj', edit_patient_path(patient) %></td>
        <td><%= link_to 'Usuń', patient, method: :delete, data: { confirm: 'Masz pewność?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy pacjent', new_patient_path %>
