<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<table>
  <thead>
    <tr>
      <th>Pesel</th>
      <th>Name patient</th>
      <th>Firstname patient</th>
      <th>Adress</th>
      <th>City patient</th>
      <th>Zip code patient</th>
      <th>Phone patient</th>
      <th>Patient card nr</th>
      <th>Icd10code</th>
      <th>Id insurer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.pesel %></td>
        <td><%= patient.name_patient %></td>
        <td><%= patient.firstname_patient %></td>
        <td><%= patient.adress %></td>
        <td><%= patient.city_patient %></td>
        <td><%= patient.zip_code_patient %></td>
        <td><%= patient.phone_patient %></td>
        <td><%= patient.patient_card_nr %></td>
        <td><%= patient.ICD10code %></td>
        <td><%= patient.id_insurer %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
