<p id="notice"><%= notice %></p>

<p>
  <strong>Pesel:</strong>
  <%= @patient.pesel %>
</p>

<p>
  <strong>Imię pacjenta:</strong>
  <%= @patient.name_patient %>
</p>

<p>
  <strong>Nazwisko pacjenta:</strong>
  <%= @patient.firstname_patient %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @patient.adress %>
</p>

<p>
  <strong>Miasto pacjenta:</strong>
  <%= @patient.city_patient %>
</p>

<p>
  <strong>Kod pocztowy pacjenta:</strong>
  <%= @patient.zip_code_patient %>
</p>

<p>
  <strong>Telefon pacjenta:</strong>
  <%= @patient.phone_patient %>
</p>

<p>
  <strong>Patient card nr:</strong>
  <%= @patient.patient_card_nr %>
</p>

<p>
  <strong>Icd10code:</strong>
  <%= @patient.ICD10code %>
</p>

<p>
  <strong>ID ubezpieczyciela:</strong>
  <%= @patient.insurer_id %>
</p>

<%= link_to 'Edytuj', edit_patient_path(@patient) %> |
<%= link_to 'Wstecz', patients_path %>
