
<div class="col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                        <strong>   Zaloguj się, aby zobaczyć zawartość</strong>  
                            </div>
                            <div class="panel-body">



<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group input-group">                                  
    <span class="input-group-addon"><i class="fa fa-group"></i>
</span>
  
    <%= f.email_field :email, autofocus: true , class: "form-control", placeholder: "Podaj adres e-mail" %>
  </div>



  <div class="form-group input-group">                                  
    <span class="input-group-addon"><i class="fa fa-key"></i>
</span>
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Podaj hasło" %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="form-group">
        <label class="checkbox-inline">
      <%= f.check_box :remember_me %>
      <%= f.label :Zapamiętaj_mnie %>
      	</label>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Zaloguj", class: "btn btn-primary" %>
  </div>
<% end %>


 </div>
                           
                        </div>
                    </div>



                                          
                                        