<ol class="breadcrumb">
<li><%= link_to "Strona Główna", '/' %></li>
<li><a href="/doctors">Lista lekarzy</a></li>
<li><a href="">Wyedytowane dane</a></li>
</ol> 
<div class="panel panel-default">
<div class="panel-heading"> 
Wyedytowano dane</div>
<div class="panel-body"> 

<table class="table table-condensed">
<thead>
<tr>
<th>Numer PWZ</th>
<th>Imię</th>
<th>Nazwisko</th>
</tr>
</thead>
<tbody>
<tr>
<td><%= @doctor.pwz_number %></td>
<td><%= @doctor.name %></td>
<td><%= @doctor.surname %></td>
</tr> 
</tbody>
</table>
</div><div class="panel-footer">
<%= link_to 'Edytuj', edit_doctor_path(@doctor), class:"btn btn-success" %>
<%= link_to 'Wróć', doctors_path, class:"btn btn-info" %>
</div></div>
