<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select(:user_id, User.all, :id, :email) %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.collection_select(:patient_id, Patient.all, :id, :name_patient) %>
  </div>
  <div class="field">
    <%= f.label :services_is %><br>
     <%= f.collection_select(:service_id, Service.all, :id, :name_services) %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.collection_select(:doctor_id, Doctor.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
