<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
 <div class="form-group input-group">                                  
    <span class="input-group-addon">Dane użytkownika</span>
    <%= f.collection_select(:user_id, User.all, :id, :email) %>
  </div>
 <div class="form-group input-group">                                  
    <span class="input-group-addon">Dance pacjenta</span>
    <%= f.collection_select(:patient_id, Patient.all, :id, :name_patient) %>
  </div>
 <div class="form-group input-group">                                  
    <span class="input-group-addon">Usługa lekarska</span>
     <%= f.collection_select(:service_id, Service.all, :id, :name_services) %>
  </div>
 <div class="form-group input-group">                                  
    <span class="input-group-addon">Data usługi</span>
    <%= f.date_select :data %>
  </div>
 <div class="form-group input-group">                                  
    <span class="input-group-addon">Imię i nazwisko lekarza</span>
    <%= f.collection_select(:doctor_id, Doctor.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit "Wykonaj", class: "btn btn-primary", :style =>'color:white;' %>
  </div>
<% end %>
