        <%= link_to 'Dodaj wizytę', new_appointment_path, class: "btn btn-primary", :style =>'color:white;'  %><BR><BR><BR>
           <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Lista umówionych wizyt
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
     <th>Użytkownik</th>
      <th>Pacjent</th>
      <th>Usługa</th>
      <th>Data</th>
      <th>Lekarz</th>
      <th colspan="3"></th>

 </tr>
       </thead>
          <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
     
        <td><%= appointment.user.email %></td>
        <td><%= appointment.patient.name_patient %> <%= appointment.patient.firstname_patient %></td>
        <td><%= appointment.service.name_services %></td>
        <td><%= appointment.data %></td>

        <td><%= appointment.doctor.name %> <%= appointment.doctor.surname %></td>

        <td><%= link_to 'Edytuj', edit_appointment_path(appointment), class:"btn btn-success", :style =>'color:white;' %> <%= link_to 'Usuń', appointment, method: :delete, data: { confirm: 'Czy masz pewność?' },class:"btn btn-danger", :style =>'color:white;' %></td>
 </tr>
                                       
                                        <% end %>
                                       
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
            </div>
    </div>

<br>


