<p id="notice"><%= notice %></p>



<p>
  <strong>Id user:</strong>
  <%= @appointment.user_id %>
</p>

<p>
  <strong>Id patient:</strong>
  <%= @appointment.patient_id %>
</p>

<p>
  <strong>Id services:</strong>
  <%= @appointment.service_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @appointment.data %>
</p>

<p>
  <strong>Id doctor:</strong>
  <%= @appointment.doctor_id %>
</p>

<%= link_to 'Edytuj', edit_appointment_path(@appointment) %> |
<%= link_to 'Wstecz', appointments_path %>
