<div class="panel panel-default">
<div class="panel-heading"> 
Wyedytowano dane</div>
<div class="panel-body"> 

<table class="table table-condensed">
<thead>
<tr>
   <th>Użytkownik</th>
      <th>Pacjent</th>
      <th>Usługa</th>
      <th>Data</th>
      <th>Lekarz</th>
  </tr>
</thead>
<tbody>
  </tr>
<td>
  <%= @appointment.user_id %></td>
<td>
  <%= @appointment.patient_id %></td>
<td>
  <%= @appointment.service_id %></td>
<td>
  <%= @appointment.data %></td>
<td>
  <%= @appointment.doctor_id %></td>
</td>

</tr> 
</tbody>
</table>
</div>
<div class="panel-footer">

<%= link_to 'Edytuj', edit_appointment_path(@appointment), class:"btn btn-success", :style =>'color:white;' %> 
<%= link_to 'Wstecz', appointments_path, class:"btn btn-info", :style =>'color:white;' %>
</div></div>
