<ol class="breadcrumb">
<li><%= link_to "Strona Główna", :back, {:style =>'color:#428BCA'} %></li>
<li><a class="color:#428BCA;" href="#">Lista kategorii</a></li>
</ol> 

<%= link_to 'Dodaj nową kategorię', new_category_path, class: "btn btn-primary" %>
<table class="table table-striped">
  <thead>
    <tr>
    
      <th>Nazwa kategorii usługi</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
     
        <td><%= category.name_category %></td>
        <td><%= link_to 'Edytuj', edit_category_path(category), class:"btn btn-success" %> <%= link_to 'Usuń', category, method: :delete, data: { confirm: 'Jesteś pewien?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

